VALIDUSER = "username for login"
VALIDPASSWORD = "password"
USER = "username (name in top-right corner)"
APP_INSTANCE_URL = "URL without /login.php - e.g. https://centristest.claudox.com/csmtest"
COMPANY_ID = "company id 6 digits"
SIGNOFF_SCHEMA = "signoff schema assigned to test user"
DOWNLOAD_DIR = "C:\Your\Path\To\DownloadsDirectory"
JIRA_URL = "URL to Jira"
JIRA_TOKEN = "Jira API token"
JIRA_PROJECT = "Shortcut of project to be assigned to created ticket"
